<?php

return array(
    'modules' => array(
        'Dragonbase\Book',
    ),
    'module_listener_options' => array(
        'extra_config' => array(
        ),
        'module_paths' => array(
            __DIR__ . '/vendor',
        ),
    ),
);
